/* Write your global styles here, in PostCSS syntax */
@import './prism.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer base {
	body {
		@apply text-zinc-600 dark:text-zinc-400 h-full;
	}

	h1{
		@apply text-zinc-900 dark:text-zinc-100 pt-6 pb-6;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-900 dark:text-zinc-200 pt-6 pb-2;
	}

	hr {
		@apply border-zinc-100 dark:border-zinc-700/25;
	}
}

a {
	text-decoration: none;
}
